@using Timeclock_WebApplication.ViewModels
@model RegisterViewModel

@{
    ViewData["Title"] = "Sign up";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <!-- Sign up Header -->
        <p>
            <h4 class="text-center pb-4">Sign up for a new account</h4>
        </p>

        <!-- Display Error Message if any -->
        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Error"] </span>
            </div>
        }

        <div class="row">
            <div class="col-md-8 offset-2">
                <!-- Registration Form -->
                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <!-- Email Address Field -->
                    <div class="form-group">
                        <label asp-for="EmailAddress" class="control-label"></label>
                        <input asp-for="EmailAddress" class="form-control" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>

                    <!-- Password Field -->
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <!-- Confirm Password Field -->
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <!-- First Name Field -->
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <!-- Last Name Field -->
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <!-- Employee Number Field -->
                    <div class="form-group">
                        <label asp-for="EmployeeNumber" class="control-label"></label>
                        <input asp-for="EmployeeNumber" class="form-control" />
                        <span asp-validation-for="EmployeeNumber" class="text-danger"></span>
                    </div>

                    <!-- Group Selection Field -->
                    <div class="form-group">
                        <label asp-for="Group" class="control-label"></label>
                        <select asp-for="Group" class="form-control">
                            <option selected disabled>Select a Group</option>
                            <option value="Group1">Group1</option>
                        </select>
                        <span asp-validation-for="Group" class="text-danger"></span>
                    </div>

                    <!-- Submit and Cancel Buttons -->
                    <div class="form-group">
                        <input class="btn btn-outline-success float-right mt-2" type="submit" value="Sign up" />
                        <a class="btn btn-outline-secondary mt-2" asp-controller="Account" asp-action="Login">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
