@using FT_TTMS_WebApplication.ViewModels
@model ResetPasswordViewModel

<!-- Reset Password Section -->
<h2 class="reset-password-header">Reset Password</h2>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(modelState => modelState.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

<!-- Styles for Reset Password Form -->
<style>
.reset-password-header {
    text-align: center;
    padding: 20px;
}

.forgot-password-form {
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #fff;
}

.forgot-password-form-control {
    width: 100%;
    max-width: 100%; /* Adjusted to fill the form */
    height: 40px;
    padding: 5px 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding doesn't affect the final size */
}

.forgot-password-form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0,123,255,.25);
}
</style>

<!-- Reset Password Form -->
<form asp-action="ResetPassword" method="post" class="forgot-password-form">
    <input type="hidden" asp-for="Token" />
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="forgot-password-form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="forgot-password-form-control" type="password" />
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="forgot-password-form-control" type="password" />
    </div>
    <button type="submit" class="btn btn-outline-success">Reset Password</button>
</form>